.container {
  width: 100%;
  padding: 24px;
  padding-top: 16px; /* 헤더와의 간격 조정 */
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1156px;
  margin: 0 auto;
}

.loading, .error {
  padding: 48px;
  text-align: center;
  font-size: 16px;
  color: #858585;
}

.error {
  color: #f53134;
}
