.frameChild {
    width: 24px;
    position: relative;
    border-radius: 24px;
    max-height: 100%;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
}
.sbs {
    position: relative;
    line-height: 20px;
}
.frameGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
}
.frameItem {
    align-self: stretch;
    position: relative;
    border-radius: 8px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.p {
    margin: 0;
}
.div {
    align-self: stretch;
    position: relative;
    line-height: 20px;
}
.frameParent1 {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    z-index: 0;
}
.frameParent2 {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    z-index: 1;
}
.frameIcon {
    width: 32px;
    margin: 0 !important;
    position: absolute;
    top: calc(50% - 40.35px);
    left: -16.33px;
    border-radius: 16px;
    max-height: 100%;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: contain;
    z-index: 2;
}
.frameChild1 {
    width: 32px;
    margin: 0 !important;
    position: absolute;
    top: calc(50% - 34.02px);
    right: -16.37px;
    border-radius: 32px;
    max-height: 100%;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
    z-index: 3;
}
.frameDiv {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: 12px;
}
.div2 {
    flex: 1;
    position: relative;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.wrapper {
    align-self: stretch;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px;
}
.frameChild2 {
    align-self: stretch;
    position: relative;
    background-color: rgba(10, 10, 10, 0.06);
    height: 1px;
    overflow: hidden;
    flex-shrink: 0;
}
.div3 {
    align-self: stretch;
    position: relative;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.container {
    align-self: stretch;
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.frameParent3 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.frameContainer {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
}
.frameParent {
    width: 100%;
    position: relative;
    border-radius: 8px;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 24px;
    box-sizing: border-box;
    gap: 24px;
    text-align: left;
    font-size: 16px;
    color: #1a1a1a;
}

