.div {
  position: relative;
  line-height: 28px;
  font-weight: 600;
}
.wrapper {
  border-radius: 100px;
  background-color: rgba(10, 10, 10, 0.02);
  border: 1px solid rgba(10, 10, 10, 0.12);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 6px 14px;
}
.div2 {
  align-self: stretch;
  position: relative;
  line-height: 32px;
  font-weight: 600;
}
.p {
  margin: 0;
}
.div3 {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 20px;
  color: #1a1a1a;
}
.group {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 20px 0px 12px;
  gap: 4px;
  font-size: 24px;
  color: #0a0a0a;
}
.frameChild {
  width: 32px;
  position: relative;
  border-radius: 32px;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.sbs {
  position: relative;
  line-height: 20px;
}
.frameDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 12px;
  gap: 8px;
}
.frameItem {
  align-self: stretch;
  position: relative;
  border-radius: 12px;
  max-width: 100%;
  overflow: hidden;
  height: 451.1px;
  flex-shrink: 0;
  object-fit: cover;
}
.sbs1 {
  position: relative;
  line-height: 16px;
}
.sbsWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 8px;
}
.frameParent1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  font-size: 12px;
}
.frameContainer {
  align-self: stretch;
  border-radius: 16px;
  background-color: rgba(10, 10, 10, 0.02);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12px;
  gap: 8px;
}
.frameInner {
  width: 32px;
  border-radius: 16px;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.frameIcon {
  width: 32px;
  border-radius: 32px;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.frameParent2 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}
.frameGroup {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
  font-size: 16px;
  color: #858585;
}
.parent {
  width: 802px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.div5 {
  align-self: stretch;
  position: relative;
  line-height: 20px;
  color: #1a1a1a;
}
.div6 {
  align-self: stretch;
  position: relative;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.frameChild1 {
  width: 24px;
  position: relative;
  border-radius: 32px;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.sbs2 {
  position: relative;
  line-height: 18px;
}
.frameParent5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  font-size: 14px;
}
.parent1 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
}
.frameChild2 {
  width: 150px;
  position: relative;
  border-radius: 4px;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.frameParent4 {
  align-self: stretch;
  border-radius: 8px;
  background-color: rgba(133, 133, 133, 0.1);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px;
  gap: 12px;
}
.frameParent6 {
  align-self: stretch;
  border-radius: 8px;
  background-color: rgba(133, 133, 133, 0.2);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px;
  gap: 12px;
}
.frameParent8 {
  align-self: stretch;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px;
  gap: 12px;
}
.frameParent3 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  font-size: 16px;
  color: #858585;
}
.container {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.frameParent {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px;
  box-sizing: border-box;
  gap: 24px;
  max-width: 1440px;
  text-align: left;
  font-size: 20px;
  color: #0a0a0a;
}