.section {
  padding: 24px;
  display: grid;
  grid-template-columns: 7fr 5fr;
  grid-gap: 24px;
  background-color: var(--background-normal-light);
  @media(max-width: 720px) {
    grid-template-columns: 1fr;
  }
}