.interaction {
  position: relative;
  cursor: pointer;
}

.interaction:before {
  position: absolute;
  inset: 0;
  border-radius: inherit;
  transition: all 0.14s ease-in-out;
  content: "";
}

.interaction:hover:before {
  background-color: rgba(var(--gray-50-rgb), 0.16);
}

.interaction:active:before {
  transition-duration: 0s;
  background-color: rgba(var(--gray-50-rgb), 0.32);
}

.interactionDisabled {
  cursor: not-allowed;
  opacity: 0.64;
}