.segmentBarSectionWrapper {
  position: sticky;
  top: var(--header-height);
  margin-top: 8px;
  padding: 4px 24px;
  z-index: 10;
  pointer-events: none;
}

.segmentBarContainer {
  max-width: fit-content;
  padding: 12px 24px;
  border-radius: 28px;
  background-color: var(--background-elevated-light);
  box-shadow: 0 8px 24px 12px rgba(var(--gray-50-rgb), 0.24);
  pointer-events: auto;
}

.segmentBarWrapper {
  overflow-x: auto;
  max-width: fit-content;
}