.label {
  width: 100%;
  color: var(--label-alternative-light);
  font-size: var(--small-font-size);
  font-weight: var(--small-font-weight);
  line-height: var(--small-line-height);
  cursor: pointer;
}

.textInput {
  width: 100%;
  height: 44px;
  padding: 12px 10px;
  box-shadow: inset 0 0 0 1px var(--line-border-light);
  border-radius: 4px;

  color: var(--label-normal-light);

  background: transparent;
  border: none;
  outline: none;

  transition: all 0.14s ease-in-out;
}

.textInput::placeholder, .textInput {
  font-size: var(--medium-font-size);
  font-weight: var(--medium-font-weight);
  line-height: var(--medium-line-height);
}
.textInput::placeholder {color: var(--label-alternative-light)}

.textInput:focus, .error:focus {
  box-shadow: inset 0 0 0 1px var(--brand-normal-light);
  background: transparent;
}

.error {
  transition: all 0.14s ease-in-out;
  box-shadow: inset 0 0 0 1px var(--status-negative-light);
  background-color: var(--status-translucent-negative-light);
}