.parentHeightContainer {
  border-radius: 0;
  height: 100%;
  aspect-ratio: 1;
}

.small, .medium, .parentHeight {
  flex-shrink: 0;
  border-radius: 128px;
  position: relative;
  overflow: hidden;
}

.small {
  width: 24px;
  height: 24px;
}

.medium {
  width: 32px;
  height: 32px;
}

.parentHeight {
  aspect-ratio: 1;
  height: 100%;
}