.transparent, .outlined, .elevate {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0;
  border-radius: 24px;
  background-color: transparent;
}

.outlined, .elevate {
  box-shadow: inset 0 0 0 1px var(--line-border-light);
}

.elevate {
  background-color: var(--background-elevated-light);
}

.medium {
  width: 40px;
  height: 40px;
  padding: 8px;
}

.small {
  width: 36px;
  height: 36px;
  padding: 8px;
}
