.pressInfoContainer {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 60px 32px;
  border-radius: 8px;
  background-color: #0a475c;
  justify-content: flex-start;
}

.pressLogo {
  border-radius: 100px;
  overflow: hidden;
  flex-shrink: 0;
}

.pressInfoText {
  margin-left: 16px;
}

.subscribeButton {
  border-radius: 100px;
  padding: 8px 12px;
  background-color: white;
  cursor: pointer;
  text-align: center;
  align-self: flex-start;
}

.subscribedButton {
  border-radius: 100px;
  padding: 8px 12px;
  background-color: #f53134;
  color: white;
  cursor: pointer;
  text-align: center;
  margin-left: auto;
}
